body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-title{
  font-family: 'Nunito', sans-serif;
  font-size:55px;
  text-align: center;
}

.sub-title{
  font-family: 'Zen Maru Gothic', sans-serif;;
  font-size:23px;
  
}
.sub-title2{
  font-family: 'Zen Maru Gothic', sans-serif;;
  font-size:19px;
  font-weight: bold;
  text-align: left;
  
}
.p-text{
  font-family: 'Zen Maru Gothic', sans-serif;;
  font-size:18px;
  
}
.btn{
  font-family: 'Zen Maru Gothic', sans-serif;;
  font-size:21px;
  color:white;
  cursor: pointer;
  padding: 6px 25px;
  text-align: center;
}

/* .search-btn{
  cursor: pointer;
  padding: 6px 25px;
  background-color: aqua;
} */